.jumbotron{
    background-color: aliceblue;
    color: black;
    text-align: center;
}
body{
    background-image: url(leaves.png);
    background-repeat: repeat;
}
.cardDiv{
    padding: 20px;
    margin: 20px,10px;
    background-color:lightgray;
}

.btn{
    float:left;
    position: absolute;
    bottom: 0;
    right: 0;
}